<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>Welcome to the Gallery</h1>
    </header>
    <nav>
	<a href="/">About</a>
        <a href="stats.html">RPi Stats</a>
        <a href="projects.html">Projects</a>
        <a href="contact.html">Contact</a>
    </nav>
    <main>
        <div class="container">
		<section class="bio">
			<div class="photo">
				<img src="static/images/website_profile.jpg" alt="Profile Photo">
			</div>
			<div class="description">
				<h2>Denis Aleksandrov</h2>
				<p>Hello! I'm Denis, a tech enthusiast with a passion for Linux, open-source projects, and embedded systems.</p>
				<p>This webpage is meant to be an interactive portfolio for some of my software projects as well as a window into my host system's CPU, memory, and storage usage.</p>
			</div>
		</section>
		<h2>Project Gallery</h2>
		<p>This project acts as an interactive portfolio for my Vigenere Decryptor and Link State Routing library</p>
		<p>To access the page, please use the link to <a href="projects.html">Projects</a> in the navigation bar</p>
		<h3>Technologies Used:</h3>
		<ul>
			<li>To be listed...</li>
		</ul>
		<h3>Features:</h3>
		<ul>
			<li>To be listed...</li>
		</ul>
		<h2>The Raspberry Pi System Monitoring Page</h2>
		<p>This project showcases real-time system statistics from a Raspberry Pi, including CPU usage, memory consumption, disk space, and CPU temperatures.</p>
		<p>Utilizing Python with Flask, the application fetches system stats and displays them dynamically on a webpage.</p>
		<p>To access it, please use the link to <a href="stats.html">RPi Stats</a> in the navigation bar</p>
		<h3>Technologies Used:</h3>
		<ul>
			<li>Raspberry Pi</li>
			<li>Python</li>
			<li>Flask</li>
			<li>psutil</li>
			<li>HTML/CSS/JavaScript</li>
		</ul>
		<h3>Features:</h3>
		<ul>
			<li>Live system statistics</li>
			<li>Responsive design</li>
			<li>Multiple pages for better navigation</li>
		</ul>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Denis Aleksandrov | Powered by Raspberry Pi</p>
    </footer>
</body>
</html>
