<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>Welcome to the Gallery</h1>
    </header>

    <nav>
	    <a href="/">About</a>
	    <a href="/stats.html">RPi Stats</a>
	    <a href="/projects.html">Projects</a>
	    <a href="/contact.html">Contact</a>
    </nav>
    
    <main>
	    <div class="decryptor">
		    <h2>Vigenère Cipher Decryptor</h2>
		    <label for="encryptedText">Encrypted Text:</label>
		    <input type="text" id="encryptedText" name="encryptedText" placeholder="Enter encrypted text here">

		    <button onclick="decryptText()">Decrypt</button>

		    <h3>Decrypted Text:</h3>
		    <p id="decryptedText">Enter text</p>
	    </div>

	    <script>
		    function decryptText() {
			    const encryptedText = document.getElementById('encryptedText').value;
			    
			    fetch('/api/decrypt', {
				    method: 'POST',
				    headers: {
					    'Content-Type': 'application/json'
				    },
				    body: JSON.stringify({ encrypted_text: encryptedText })
			    })
				    .then(response => response.json())
				    .then(data => {
					    document.getElementById('decryptedText').innerText = data.decrypted_text || 'Decryption failed';})
				    .catch(error => {
					    console.error('Error:', error);
					    document.getElementById('decryptedText').innerText = 'Error occured during decryption';
				    });
		    }
	    </script>

        <section>
            <h2>Project Title 1</h2>
            <p>Description of project 1. This project involves...</p>
        </section>
        
        <section>
            <h2>Project Title 2</h2>
            <p>Description of project 2. This project includes...</p>
        </section>
        
        <section>
            <h2>Project Title 3</h2>
            <p>Description of project 3. This project focuses on...</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Denis Aleksandrov | Powered by Raspberry Pi</p>
    </footer>
</body>
</html>
