<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raspberry Pi System Stats</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script>
	    // Function to fetch system stats and update the page
	    function fetchSystemStats() {
		    fetch('/api/stats')
		    	.then(response => response.json())
		    	.then(data => {
				// updates usage and temp for each CPU core
				data.cpu_percents.forEach((percent, index) => {
					updateBar(`cpu-core-${index}`, percent);
				});
				data.cpu_temps.forEach((temp, index) => {
					updateTemp(`cpu-temp-${index}`, temp);
				});
				updateBar('memory', data.memory);
				updateBar('disk', data.disk);
			})
		    	.catch(error => console.error('Error fetching stats:', error));
	    }

	    function updateBar(id, value) {
	    	const bar = document.getElementById(id + '-bar');
		const text = document.getElementById(id + '-text');
		bar.style.width = value + '%';
		text.innerText = value + '%';
	    }

	    function updateTemp(id, value) {
		    console.log("Updating temperature:", id, value);
		    const tempElement = document.getElementById(id);
		    tempElement.innerText = value ? value + ' °C' : 'N/A';
	    }

	    /*function startFetching() {
		    fetchSystemStats();
		    intervalId = setInterval(fetchSystemStats, 2000); // Fetch stats every 2 seconds
	    }

	    function stopFetching() {
		    clearInterval(intervalId); // Stop fetching when leaving the page
	    }

	    // Start fetching when the page loads
	    window.onload = startFetching;

	    // Stop fetching when the pare is unloaded
	    window.onbeforeunload = stopFetching;*/
	    fetchSystemStats();
	    intervalId = setInterval(fetchSystemStats, 3000); // Fetch stats every 2 seconds
    </script>
</head>
<body>

    <header>
        <h1>Welcome to the Gallery</h1>
    </header>

    <nav>
	    <ul>
		    <a href="/index.html">About</a>
		    <a href="/">RPi Stats</a>
		    <a href="/projects.html">Projects</a>
		    <a href="/contact.html">Contact</a>
	    </ul>
    </nav>

    <main>
        <div class="container">
            <section id="stats" class="card">
		<div id="cpu-stats">
			<script>
				const cores = 4;
				for (let i = 0; i < cores; i++) {
					document.write(`
						<p>CPU Core ${i} [<span id="cpu-temp-${i}">Loading...</span>]:</p>
						<div class="stat-bar-container">
							<div id="cpu-core-${i}-bar" class="stat-bar cpu"></div>
							<div id="cpu-core-${i}-text" class="stat-percentage">Loading...</div>
						</div>
					`);

				}
			</script>
		</div>
		<p>Memory Usage:</p>
		<div class="stat-bar-container">
			<div id="memory-bar" class="stat-bar memory"></div>
			<div id="memory-text" class="stat-percentage">Loading...</div>
		</div>
		<p>Disk Usage:</p>
		<div class="stat-bar-container">
			<div id="disk-bar" class="stat-bar disk"></div>
			<div id="disk-text" class="stat-percentage">Loading...</div>
		</div>
            </section>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Denis Aleksandrov | Powered by Raspberry Pi</p>
    </footer>

</body>
</html>
